{% extends 'admin/base.html.twig' %}

{% block title %}Please Login{% endblock %}

{% block body %}
<form method="post" class="l_login-form">
  <h1 class="l_login-form__message">
    {% if error %}
    <p class="l_login-form__message--error">ログインできません</p>
    {% else %}
    ログインしてください
    {% endif %}
  </h1>

  <div class="l_login-form__element">
    <label for="inputEmail" class="l_login-form__label">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control l_login-form__input" autocomplete="email" required autofocus>
  </div>
  <div class="l_login-form__element">
    <label for="inputPassword" class="l_login-form__label">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control l_login-form__input" autocomplete="current-password" required>
  </div>
  <input type="hidden" name="_csrf_token"
         value="{{ csrf_token('authenticate') }}"
  >
  {% include "components/_google_recaptcha.html.twig" %}

  <div class="l_login-form__submit">
    <button class="btn btn-lg btn-primary" type="submit">
      ログイン
    </button>
  </div>
</form>
{% endblock %}