<div class="l_form__row l_form__row--3box">
  {{ form_row(form.publishDate, {
    row_attr: {
      class: "l_datetime-widget"
    }
  }) }}
  {{ form_row(form.closeDate, {
    row_attr: {
      class: "l_datetime-widget"
    }
  }) }}
</div>