/// spaces
/// アプリで使うサイズ(pxやrem)等は全てここにトークン化してください。
$space-0: 0;
$space-px: 1px;
$space-1: 0.25rem /* 4px */;
$space-2: 0.5rem /* 8px */;
$space-3: 0.75rem /* 12px */;
$space-4: 1rem /* 16px */;
$space-5: 1.25rem /* 20px */;
$space-6: 1.5rem /* 24px */;
$space-8: 2rem /* 32px */;
$space-10: 2.5rem /* 40px */;
$space-12: 3rem /* 48px */;
$space-16: 4rem /* 64px */;
$space-20: 5rem /* 80px */;
$space-24: 6rem /* 96px */;
$space-32: 8rem /* 128px */;
$space-40: 10rem /* 160px */;
$space-48: 12rem /* 192px */;
$space-56: 14rem /* 224px */;
$space-64: 16rem /* 256px */;

/// percentage spaces
$percent: (
  "1/12": 8.333333%,
  "2/12": 16.666667%,
  "3/12": 25%,
  "4/12": 33.333333%,
  "5/12": 41.666667%,
  "6/12": 50%,
  "7/12": 58.333333%,
  "8/12": 66.666667%,
  "9/12": 75%,
  "10/12": 83.333333%,
  "11/12": 91.666667%,
  "full": 100%,
);