{# Errors #}

{%- block form_errors -%}
  {%- if errors|length > 0 -%}
    {%- for error in errors -%}
      <div class="c-form-row-body__errors--error">{{ error.message }}</div>
    {%- endfor -%}
  {%- endif %}
{%- endblock form_errors %}
